[submodule "demo/xd"]
	path = demo/xd
	url = https://github.com/dx81/engine-xd-demos/
[submodule "demo/mandelbrot"]
	path = demo/mandelbrot
	url = https://github.com/OliverKovacs/mandelbrot-webgl
[submodule "demo/xdgl"]
	path = demo/xdgl
	url = https://github.com/OliverKovacs/xdgl
[submodule "demo/lorenz"]
	path = demo/lorenz
	url = https://github.com/OliverKovacs/lorenz-webgl
