:root {
    --blue500p: #2196f3;
    --blue500l: #6ec5ff;
    --blue500d: #0068bf;
    --greyd: #212121;
    --greyp: #333333;
    --greyl: #424242;
    --white: #ffffff;

    --card_r: 5px;
    --card_s: 80px;
    --card_margin: 10px;
    --card_padding: 10Px;
}

:root {
    --bg: var(--greyp);
    --card_bg: var(--greyl);

    --card_w: var(--card_s);
    --card_h: auto;
    --card_ww: 185px;
}