html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-size: 16x;
    font-family: 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    color: #7CDCFE
}

header {
    display: flex;
    align-items: center;
    color: var(--blue500p);
    background-color: var(--greyl);
    border-radius: var(--card_r);
}

footer {
    height: 100px;
    color: var(--blue500p);
    display: grid;
    justify-content: center;
    place-items: center;
    background-color: var(--greyl);
    border-radius: var(--card_r);
}

object {
    width: 16px;
    height: 16px;
}

header h1:hover {
    color: var(--blue500l);
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--blue500l);
}

.paper {
    width: 920px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    background-color: var(--greyd);
    border-radius: var(--card_r);
}

#pfp {
    width: 100px;
    height: 100px;
    margin: 50px;
    image-rendering: pixelated
}

#mandelbrot {
    margin-top: 60px;
}