.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section .section-title {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.section .section-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--card_margin);
    margin-right: var(--card_margin);
}

.section .card {
    width: var(--card_width);
    height: var(--card_height);
    margin: var(--card_margin);
    border-radius: var(--card_radius);
    overflow-wrap: anywhere;
}

.section .card .card-image {
    width: var(--card_img_size);
    border-radius: var(--card_radius);
}

.section .card .text {
    margin: 0;
    font-size: 14px;
    padding-left: var(--card_text_horizontal_padding);
    padding-right: var(--card_text_horizontal_padding);
}

.section .card .text .card-title {
    padding: 0;
    margin: 0;

    margin-left: 0px;
    margin-right: 0px;

    font-weight: medium;
    color: var(--secondary);
}

.section .card .text .card-text {
    padding: 0;
    margin: 0;
    color: var(--white);
}

.section .card:hover a .text .card-title {
    color: var(--primary);
}



.section .projects-card {
    width: var(--card_ww);
    padding: var(--card_padding);
    background-color: var(--bg);
}

.section .projects-card:hover {
    background-color: var(--bgl);
}

.section .projects-card:hover .text .card-title {
    color: var(--primary);
}

.section .demos-card {
    width: var(--card_ww);
    padding: var(--card_padding);
    background-color: var(--bg);
}

.section .demos-card:hover {
    background-color: var(--bgl);
}

.section .demos-card:hover .text .card-title {
    color: var(--primary);
}



.section .music-card {
    width: 130px;
}
