.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section .section-title {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--blue500p);
}

.section .section-title:hover {
    color: var(--blue500l);
}

.section .section-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--card_margin);
    margin-right: var(--card_margin);
}

.section .card {
    width: var(--card_w);
    height: var(--card_h);
    margin: var(--card_margin);
    border-radius: var(--card_r);
    overflow-wrap: anywhere;
}

.section .projects-card {
    width: var(--card_ww);
    padding: var(--card_padding);
    background-color: var(--greyl);
}

.section .projects-card:hover {
    background-color: var(--bg);
}

.section .demos-card {
    width: var(--card_ww);
    padding: var(--card_padding);
    background-color: var(--greyl);
}

.section .demos-card:hover {
    background-color: var(--bg);
}

.section .card .card-image {
    width: var(--card_s);
    height: var(--card_s);
    border-radius: var(--card_r);
}

.section .card .text {
    margin: 0;
    font-size: 14px;
}

.section .card .card-title {
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;

    font-weight: medium;
    color: var(--blue500p);
}

.section .card .card-title:hover {
    color: var(--blue500l);
}

.section .card .card-text {
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    color: var(--white);
}
